.sideDishTitleContainer {
  display: flex;
  justify-content: center;
}
.sideDishTitleContainer p {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
