.formWrapperWrapper {
  position: fixed;
  z-index: 1000000000000000000;
  height: 100dvh;
  width: 100dvw;
  background-color: #000000fa;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formWrapper {
  display: flex;
  flex-direction: column;
}
.closeForm {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}
.closeForm p {
  border: 3px solid whitesmoke;
  margin-right: 5rem;
  color: white;
  font-size: 4rem;
}
.closeForm p:hover {
  cursor: pointer;
}
.signupTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  margin-bottom: 25px;
}
.signupTextContainer p {
  font-size: 4rem;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.formContainer {
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.formForm {
  max-width: 100%;
  min-height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.formLabel {
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: whitesmoke;
}
.formInput {
  width: 20%;
  min-height: 2rem;
}
