.grillPageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.grillPageTitle p {
  font-size: 4rem;
}
.foodListMain {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.foodsContainer {
  flex: 1;
}
