.grillPageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding: 25px;
}
.grillPageTitle p {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.foodListMain {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: #121212;
}
.foodsContainer {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid whitesmoke;
  border-radius: 5px;
}
.foodsContainer p {
  padding: 20px;
  font-size: 3.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: whitesmoke;
}
.imgContainer {
  display: flex;
  width: 100%;
}
.imgContainer img {
  object-fit: contain;
  flex: 1;
  height: 45dvh;
}
.foodDetailsContainer {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
}
.foodDetails {
  flex: 1;
}
.foodDetailsContainer p {
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}
