@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Esteban&display=swap");
.dashboardWrapper {
  display: flex;
  padding: 5px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 2%;
}
.userInfoContainer {
  flex: 1;
  padding-top: 4%;
  padding-right: 1%;
}
.userInfo {
  padding: 10px;
  display: flex;
  background-color: #121212;
  border: 10px solid #2c2828;
}
.userAvatar {
  height: 60dvh;
  padding-left: 9%;
  display: flex;
  align-items: center;
}
.userAvatar img {
  height: 90%;
  object-fit: contain;
  border: 10px solid #2c2828;
}
.userInfoTextWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 3%;
  gap: 5px;
}
.userInfoTextContainer {
  width: max-content;
  display: flex;
  gap: 2dvh;
  flex-direction: column;
  border-left: 2px solid whitesmoke;
  padding-left: 5%;
}
.userInfoTextContainer p {
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: whitesmoke;
}
.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  flex: 2;
  max-width: 13dvw;
}
.profileDashboard {
  width: 20%;
}
.profileDashboard svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profileDashboard svg:hover {
  cursor: pointer;
}
.dashboardSettings {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.setting {
  padding: 5px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: #121212;
}
.setting p {
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: whitesmoke;
}
.setting p:hover {
  cursor: pointer;
}
.reservationInfoMain {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 15px;
}
.reservationInfoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  background-color: #121212;
  border-radius: 10px;
  border: 10px solid #2c2828;
}
.reservationItemWrapper {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 16px;
}
.reservationInfo {
  border-bottom: 2px solid rgb(0 0 0 / 42%);
  padding: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservationInfo p {
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: whitesmoke;
}
.deleteBtn {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 5px;
}
.deleteBtn p {
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
}
.deleteBtn p:hover {
  cursor: pointer;
}
.reservationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  background-color: #121212;
  border-radius: 10px;
  border: 10px solid #2c2828;
}
.reservationForm label {
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: whitesmoke;
}
.reservationForm input {
  width: 95%;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.editUserForm {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  background-color: #121212;
  border-radius: 10px;
  align-items: center;
  width: 100%;
  border: 10px solid #2c2828;
}
.editUserForm label {
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: whitesmoke;
}
.editUserForm input {
  width: 100%;
  height: 30px;
  text-align: center;
}
.userDescription {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.userInfoTextContainer .infoTitle {
  font-size: 2.3rem;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
