.mainWrapper {
  background-color: rgb(20, 20, 20);
  margin-top: 2px;
  max-height: 76dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.enjoyTextContainer {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  margin-right: 150px;
}
.enjoyTextContainer p {
  font-size: 4dvw;
  color: whitesmoke;
}
.textWrapper {
  max-width: 50dvw;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
  align-content: space-around;
}
.textContainer {
  text-align: left;
  padding-right: 8rem;
  margin-bottom: 5rem;
  min-width: 9rem;
}
.textContainer p {
  font-size: 1.2dvw;
  color: whitesmoke;
}
.imgWrapperWrapper {
  display: grid;
  justify-content: center;
}
.imgWrapper {
  position: relative;
  max-height: 75dvh;
  max-width: 100%;
  top: 90px;
  margin-right: 6rem;
}
.imgWrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 10px solid #2c2828;
}

.menuWrapper {
  margin-top: 400px;
  height: 60dvh;
}
.menuTitleContainer {
  display: flex;
  justify-content: flex-end;
}
.menuTitleContainer p {
  margin-right: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 4.5dvw;
}
.menuContainer {
  background-color: rgb(20, 20, 20);
  height: 60rem;
  margin-top: 30px;
}

.aboutUsWrapper {
  margin-top: 35dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.aboutUsTextWrapper {
  max-width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
}
.aboutUsTitleContainer {
  height: fit-content;
}
.aboutUsTitleContainer p {
  font-size: 4dvw;
  margin-left: 6dvw;
}
.aboutUsTextContainer {
  background-color: rgb(20, 20, 20);
  margin-left: 6dvw;
}
.aboutUsTextContainer div p {
  text-align: left;
}
.aboutUsTextContainer p {
  font-size: 1.5dvw;
  color: whitesmoke;
}
.aboutUsImgWrapperWrapper {
  margin-right: 8rem;
  display: grid;
  align-items: end;
  justify-content: end;
}
.aboutUsImgWrapper {
  max-height: 100%;
  max-width: 100%;
}
.aboutUsImgWrapper img {
  max-width: 100%;
  min-height: 100%;
  object-fit: contain;
  border: 10px solid #2c2828;
}
