@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Esteban&display=swap");

.mainWrapper {
  background-color: rgb(20, 20, 20);
  margin-top: 2px;
  display: flex;
}
.imgWrapperWrapper {
  display: flex;
  flex: 2;
  justify-content: center;
}
.imgWrapper {
  border: 10px solid #2c2828;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 8dvh;
}
.imgWrapper img {
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-evenly;
}
.enjoyTextContainer {
  display: flex;
  padding-right: 12%;
  justify-content: flex-end;
}
.enjoyTextContainer p {
  font-size: 4rem;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.textContainer {
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
  min-width: 9rem;
}
.textContainer p {
  line-height: 4dvh;
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: whitesmoke;
}
.menuTitleContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 7%;
  padding-top: 6%;
  padding-bottom: 2%;
}
.menuTitleContainer p {
  text-align: left;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.menuContainer {
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75dvh;
}
.aboutUsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.aboutUsTextWrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.aboutUsTitleContainer {
  padding-left: 11%;
}
.aboutUsTitleContainer p {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.aboutUsTextContainer {
  background-color: rgb(20, 20, 20);
  min-height: 70%;
  display: flex;
  align-items: center;
}
.aboutUsTextContainer div {
  padding-left: 11%;
}
.aboutUsTextContainer div p {
  text-align: left;
  line-height: 3.5dvh;
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: whitesmoke;
}
.aboutUsImgWrapperWrapper {
  flex: 1.2;
  display: flex;
  justify-content: flex-start;
}
.aboutUsImgWrapper img {
  object-fit: contain;
  border: 10px solid #2c2828;
}
