.mainWrapper {
  background-color: rgb(20, 20, 20);
  margin-top: 2px;
  display: flex;
}
.imgWrapperWrapper {
  display: flex;
  flex: 2;
  justify-content: center;
}
.imgWrapper {
  border: 10px solid #2c2828;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 8dvh;
}
.imgWrapper img {
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-evenly;
}
.enjoyTextContainer {
  display: flex;
  padding-right: 12%;
  justify-content: flex-end;
}
.enjoyTextContainer p {
  font-size: 5rem;
  color: whitesmoke;
}
.textContainer {
  text-align: left;
  padding-right: 7%;
  padding-left: 10%;
  min-width: 9rem;
  line-height: 4dvh;
}
.textContainer p {
  font-size: 2.2rem;
  color: whitesmoke;
}
.menuTitleContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 7%;
  padding-top: 6%;
  padding-bottom: 2%;
}
.menuTitleContainer p {
  font-size: 5rem;
  text-align: left;
}
.menuContainer {
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75dvh;
}
.aboutUsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.aboutUsTextWrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.aboutUsTitleContainer {
  padding-left: 11%;
}
.aboutUsTitleContainer p {
  font-size: 4rem;
}
.aboutUsTextContainer {
  background-color: rgb(20, 20, 20);
  height: 70%;
  display: flex;
  align-items: center;
}
.aboutUsTextContainer div {
  padding-left: 11%;
}
.aboutUsTextContainer div p {
  text-align: left;
  font-size: 2rem;
  color: whitesmoke;
}
.aboutUsImgWrapperWrapper {
  flex: 1.2;
  display: flex;
  justify-content: flex-start;
}
.aboutUsImgWrapper {
  padding-left: 2rem;
}
.aboutUsImgWrapper img {
  object-fit: contain;
}
