.navItem {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.442);
  color: black;
}

.navItemLinkText {
  font-size: 2em;
  white-space: nowrap;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
