.itemMainWrapper {
  display: flex;
  flex-direction: column;
}

.leftContainer {
  flex: 8;
  display: flex;
  flex-direction: column;
}
.rightContainer {
  display: flex;
  flex: 2;
  height: 50dvh;
  padding-top: 4%;
  padding-right: 2%;
  align-items: center;
  justify-content: center;
}
.itemImgContainer {
  width: 50%;
  border: 10px solid #2c2828;
  background: #2c2828;
}
.itemImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemTitle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.itemTitle p {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.mainInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.itemInfoContainer {
  padding: 5%;
  flex: 2;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.itemInfoContainer p:nth-child(1n) {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.itemInfoContainer p:nth-child(2n) {
  padding-left: 7%;
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: whitesmoke;
}
.priceContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}
.priceContainer p {
  font-size: 2.3rem;
}
@media (min-width: 1600px) {
  .itemMainWrapper {
    display: flex;
    flex-direction: row;
  }
  .itemImgContainer {
    width: 100%;
  }
  .rightContainer {
    display: flex;
    flex: 2;
    height: 50dvh;
    padding-top: 4%;
    padding-right: 2%;
    align-items: flex-end;
    justify-content: center;
  }
}
@media (min-width: 2100px) {
  .itemImgContainer {
    width: 100%;
    height: 100%;
  }
  .itemImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
